<!doctype html>
<html>
  <head>
  	<script>
	</script>

    <title>Testisivu</title>
    <style>
    </style>
  </head>
  <body>
	<script>
	var paikkakunta =  <%- JSON.stringify(saa) %>;
	var ryhma = <%- JSON.stringify(ryhma) %>;
	var viesti = <%- JSON.stringify(viesti) %>;
	console.log(paikkakunta + ryhma + viesti);

	</script>
 </body>
</html>
